.card {
  background-color: var(--color-component);
  background-size: cover;
  padding: var(--size-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--size-36);
  border-radius: var(--radius-md);
  
  &__header {
    font-weight: var(--font-medium);
  }
  
  &__subtitle {
    font-size: var(--text-xs);
    color: var(--color-dim);
  }
  
  &__values {
    display: flex;
    gap: var(--size-1);
  }
}