.tooltip-container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  user-select: none;
  cursor: help;
}

.tooltip-icon {
  width: var(--size-4);
  height: var(--size-4);
  color: var(--color-dim);
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
  //transition: opacity 200ms ease, visibility 200ms ease;
  word-break: break-word;
  width: max-content;
  max-width: 200px;
  color: var(--color-base);
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip-container:hover .tooltip-icon {
  color: var(--color-base);
}