@inherits SaveFileComponent

<div class="options--open">
    <p class="options--open__title">
        <img src="images/icon.ico" width="30" height="30" alt="Icon" /> Red Faction: Guerrilla Re-Mars-tered Save Editor
    </p>
    
    <ul>
        <li>GOG: <code>C:\Users\&lt;UserName&gt;\AppData\Local\GOG.com\Galaxy\Applications\51153410217180642\Storage\Shared\Files\autocloud\save\keen_savegame_0_0.sav</code></li>
        <li>Steam: <code>C:\Program Files (x86)\Steam\userdata\&lt;UserId&gt;\667720\remote\autocloud\save\keen_savegame_0_0.sav</code></li>
    </ul>

    <div class="options__buttons">
        <button class="btn options__buttons--primary" 
                @onclick="async() => await SaveFileHandler.OpenDialog()">
            Open save
        </button>
        <button class="btn options__buttons--secondary @(SaveFileHandler.GogFoundFile ? "" : "disabled")" 
                @onclick="async() => await SaveFileHandler.OpenGog()">
            @(SaveFileHandler.GogFoundFile ? "Open GOG save" : "Failed to detect GOG save file")
        </button>
        <button class="btn options__buttons--secondary @(SaveFileHandler.SteamFoundFile ? "" : "disabled")" 
                @onclick="async() => await SaveFileHandler.OpenSteam()">
            @(SaveFileHandler.SteamFoundFile ? "Open Steam save" : "Failed to detect Steam save file")
        </button>
    </div>
</div>