.badge {
  background: var(--color-component);
  backdrop-filter: var(--blur);
  border-radius: var(--radius-md);
  padding: var(--size-1) var(--size-2);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2);
  font-size: var(--text-xs);

  & label {
    color: var(--color-dim);
    font-weight: var(--font-medium);
  }
}