@inherits SaveFileComponent

<h1>Raw Data</h1> <Tooltip>Can result in a broken save file if modified, edit with caution.</Tooltip>

<div class="options">
    <section>
        <label class="option__label">Header</label>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="Version">Version</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="SaveFileHandler.SaveFile.Header.Version"  id="Version" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Checksum">Checksum</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="SaveFileHandler.SaveFile.Header.Checksum"  id="Checksum" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="DeveloperText">DeveloperText</label>
                    <div class="option__value">
                        <InputField TValue="string" @bind-value="SaveFileHandler.SaveFile.Header.DeveloperText"  id="DeveloperText" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <label class="option__label">Slot</label>
        <Tooltip>Data used for the save slot selection screen. May or may not affect in-game data.</Tooltip>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="MissionsCompletedCount">MissionsCompletedCount</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.MissionsCompletedCount"  id="MissionsCompletedCount" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="ActivitiesCompletedCount">ActivitiesCompletedCount</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.ActivitiesCompletedCount"  id="ActivitiesCompletedCount" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="DistrictsLiberated">DistrictsLiberated</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.DistrictsLiberated"  id="DistrictsLiberated" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="TerritoryIndex">TerritoryIndex</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.TerritoryIndex"  id="TerritoryIndex" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="DistrictIndex">DistrictIndex</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.DistrictIndex"  id="DistrictIndex" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Day">Day</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Day"  id="Day" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Month">Month</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Month"  id="Month" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Year">Year</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Year"  id="Year" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Hours">Hours</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Hours"  id="Hours" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Minutes">Minutes</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Minutes"  id="Minutes" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="Seconds">Seconds</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.Seconds"  id="Seconds" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="IsAutosave">IsAutosave</label>
                    <div class="option__value">
                        <input type="checkbox" id="IsAutosave" @bind="Info.IsAutoSave"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="IsUsedSlot">IsUsedSlot</label>
                    <div class="option__value">
                        <input type="checkbox" id="IsUsedSlot" @bind="Info.IsUsedSlot"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="DlcId">DlcId</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Info.DlcId"  id="DlcId" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="SaveSlotIndex">SaveSlotIndex</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Info.SaveSlotIndex"  id="SaveSlotIndex" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="HammersUnlocked">HammersUnlocked</label>
                    <div class="option__value">
                        <InputField TValue="byte" @bind-value="Info.HammersUnlocked"  id="HammersUnlocked" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="goldenHammer">GoldenHammerDesired</label>
                    <div class="option__value">
                        <input type="checkbox" id="goldenHammer" @bind="Info.GoldenHammerDesired"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="JetpackUnlockLevel">JetpackUnlockLevel</label>
                    <div class="option__value">
                        <InputField TValue="byte" @bind-value="Info.JetpackUnlockLevel"  id="JetpackUnlockLevel" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <label class="option__label">World</label>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="MagicNumber1">MagicNumber1</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="World.MagicNumber1"  id="MagicNumber1" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MagicNumber2">MagicNumber2</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="World.MagicNumber2"  id="MagicNumber2" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="StartZoneName">StartZoneName</label>
                    <div class="option__value">
                        <InputField TValue="string" @bind-value="World.StartZoneName"  id="StartZoneName" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="TerritoryZonesCount">TerritoryZonesCount</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="World.TerritoryZonesCount"  id="TerritoryZonesCount" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <label class="option__label">PlayerMetadata</label>
                <div class="option__box">
                    <div class="option__row">
                        <div class="option__row__body">
                            <label class="option__label" for="DistrictHash">DistrictHash</label>
                            <div class="option__value">
                                <InputField TValue="uint" @bind-value="World.PlayerMetadataState.DistrictHash"  id="DistrictHash" />
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="DistrictTime">DistrictTime</label>
                            <div class="option__value">
                                <InputField TValue="int" @bind-value="World.PlayerMetadataState.DistrictTime" id="DistrictTime"/>
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="PlayTime">PlayTime</label>
                            <div class="option__value">
                                <InputField TValue="int" @bind-value="World.PlayerMetadataState.PlayTime" id="PlayTime"/>
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="LastDeathTime">LastDeathTime</label>
                            <div class="option__value">
                                <InputField TValue="int" @bind-value="World.PlayerMetadataState.LastDeathTime" id="LastDeathTime"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <label class="option__label">MinimapData</label>
                <div class="option__box">
                    <div class="option__row">
                        <div class="option__row__body">
                            <label class="option__label" for="ZoomRadius">ZoomRadius</label>
                            <div class="option__value">
                                <InputField TValue="float" @bind-value="World.UiState.Minimap.ZoomRadius"  id="ZoomRadius" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <label class="option__label">CriticalAreaData</label>
                <div class="option__box">
                    <div class="option__row">
                        <div class="option__row__body">
                            <label class="option__label" for="Flags">Flags</label>
                            <div class="option__value">
                                <InputField TValue="uint" @bind-value="World.CriticalAreaState.Flags"  id="Flags" />
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="Handle">Handle</label>
                            <div class="option__value">
                                <InputField TValue="uint" @bind-value="World.CriticalAreaState.Handle" id="Handle"/>
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="Radius">Radius</label>
                            <div class="option__value">
                                <InputField TValue="float" @bind-value="World.CriticalAreaState.Radius" id="Radius"/>
                            </div>
                        </div>
                    </div>
                    <div class="option__row">
                        <div class="option__divider"></div>
                        <div class="option__row__body">
                            <label class="option__label" for="TmrHandle">TmrHandle</label>
                            <div class="option__value">
                                <InputField TValue="uint" @bind-value="World.CriticalAreaState.TmrHandle" id="TmrHandle"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <label class="option__label">Profile</label>
        <Tooltip>The save file's user profile. Not slot specific.</Tooltip>
        <div class="option__box">
            <div class="option__row">
                <div class="option__row__body">
                    <label class="option__label" for="MultiXp">MultiXp</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Profile.MultiXp"  id="MultiXp" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiBonusXp">MultiBonusXp</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Profile.MultiBonusXp"  id="MultiBonusXp" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiPlaylistId">MultiPlaylistId</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Profile.MultiPlaylistId"  id="MultiPlaylistId" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiFFAPlayerCRC">MultiFFAPlayerCRC</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Profile.MultiFFAPlayerCRC"  id="MultiFFAPlayerCRC" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiEDFPlayerCRC">MultiEDFPlayerCRC</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Profile.MultiEDFPlayerCRC"  id="MultiEDFPlayerCRC" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiGURPlayerCRC">MultiGURPlayerCRC</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Profile.MultiGURPlayerCRC"  id="MultiGURPlayerCRC" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="MultiBadge">MultiBadge</label>
                    <div class="option__value">
                        <InputField TValue="uint" @bind-value="Profile.MultiBadge"  id="MultiBadge" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="SledgeUniqueId">SledgeUniqueId</label>
                    <div class="option__value">
                        <InputField TValue="int" @bind-value="Profile.SledgeUniqueId"  id="SledgeUniqueId" />
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="GameCompleted">GameCompleted</label>
                    <div class="option__value">
                        <input type="checkbox" id="GameCompleted" @bind="Profile.GameCompleted"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="GameCompletedDlc">GameCompletedDlc</label>
                    <div class="option__value">
                        <input type="checkbox" id="GameCompletedDlc" @bind="Profile.GameCompletedDlc"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="WreckingCrewMapsUnlocked">WreckingCrewMapsUnlocked</label>
                    <div class="option__value">
                        <input type="checkbox" id="WreckingCrewMapsUnlocked" @bind="Profile.WreckingCrewMapsUnlocked"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="GoldenHammerUnlocked">GoldenHammerUnlocked</label>
                    <div class="option__value">
                        <input type="checkbox" id="GoldenHammerUnlocked" @bind="Profile.GoldenHammerUnlocked"/>
                    </div>
                </div>
            </div>
            <div class="option__row">
                <div class="option__divider"></div>
                <div class="option__row__body">
                    <label class="option__label" for="ImportedSaveData">ImportedSaveData</label>
                    <div class="option__value">
                        <input type="checkbox" id="ImportedSaveData" @bind="Profile.ImportedSaveData"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>